<article class="message is-info">
  <div class="message-header">
    <figure class="image is-64*64">
      <img src="" alt="https://cdn.discordapp.com/icons/<%= guild.id %>/ <%=  guild.icon %>.png" alt="Image">
    </figure>
    <p>Info</p>
    <button class="delete" aria-label="delete"></button>
  <div class="message-body">
    <p>
      <strong><%= guild.name %></strong>
      <small><%= guild.id %></small>
      <ul>
        <% guild.features.forEach(feature => {
          %>
          <li><%= feature %></li>
       <% })%>
      </ul>
    </p>
  </div>
</article>
</div>